/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.padding-heading{
  padding-bottom: 3.5%;

}

  .center-table_lt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  table {
    margin: 200 auto;
  }

  .ml-1 {
    padding-left: 70px !important;
  }

  .m-1 {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  


